@font-face {
  font-family: "Norse";
  src: url(./font/Norse-Bold-Web/norse-bold-webfont.woff);
}

body {
  display: flex;
  background-color: rgb(240, 240, 240);
  color: black;
  font-family: Norse;
}

.img-wrapper {
  margin-top: -8px;
  margin-bottom: -10px;
  margin-left: -10px;
  height: 100vh;
  width: 30vw;
  box-shadow: 1px 0px 3px black;
}

img{
  width: 30vw;
  height: 100vh;
  position: relative;
  margin-bottom: -10px;
}

#odin-img{
  width: 4.8vw;
  height: 12vh;
  vertical-align: text-bottom;
  margin-right: -15px;
}

.header{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 90px;
  position: absolute;
  width: 30vw;
  text-align: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  top: 20vh;
  left: -2px;
  z-index: 10;
}

.credits {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 97vh;
  z-index: 10;
  text-align: center;
  width: 30vw;
  left: -2px;
}

.credits >a {
  color: white;
}